@model ShopCartViewModel
@{
    ViewData["Title"] = "Кошик";
}
<div class="container mt-5">
    @foreach(var el in Model.shopCart.ListShopItems)
    {
        <div class="alteralter-warning mt-3">
            <b>Книга:</b> @el.Book.Name<br/>
            <b>Ціна:</b> @el.Book.Price.ToString("c")
        </div>
    }
    <hr/>
    <a class="btn btn-danger mb-5" asp-controller="Order" asp-action="Checkout">Оплатити</a>
</div>
